
.content-satu {
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgb(144, 144, 144);

}
.content-satu .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.booking {
    background-color: rgb(0, 133, 249);
    height: 250px;
    width: 350px;
    border-bottom: 50px solid blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}
.booking:hover {
    transition: .5s;
  background-color: rgb(110, 110, 243);
}

.covid {
    background-color: rgb(66, 167, 255);
    height: 250px;
    width: 350px;
    border-bottom: 50px solid blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;

}
.covid:hover {
    transition: .5s;
  background-color: rgb(110, 110, 243);
}

.igd {
    background-color: rgb(70, 145, 210);
    height: 250px;
    width: 350px;
    border-bottom: 50px solid blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;

}
.igd:hover {
    transition: .5s;
  background-color: rgb(110, 110, 243);
}


