.content-tiga .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(123, 239, 239);
}
.content-tiga .container .itm {
    /* border: 1px solid grey; */
    width: 23%;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}
.content-tiga .container .itm p {
    font-weight: bold;
}
.content-tiga .container .itm h3 {
    font-weight: bold;
    color: rgb(94, 94, 235);
}
@media screen and (max-width:768px) {
    .content-tiga .container .itm {
        width: 100%;
    }
}